.example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    color: white;
    padding: 0 18px;
  }

  .top-bar{
    height: 100px;
  }

  .image{
      padding-left: 30%;
  }

  .title{
      padding-right: 10%;
  }

  .link{
      padding-right: 25px;
  }

  .nav{
      padding-right: 10%;
      line-height: 64px;
  }

  