
<mat-toolbar color="primary">
    <mat-toolbar-row class="top-bar small">
      <span><img class="image"  src="/assets/icons/midland_white.png"></span>
      <span class="example-spacer"></span>
      <span class="title">LEARNING TRACKER</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="accent">
    <mat-toolbar-row >
      <span class="example-spacer"></span>
      <span class="nav test sml-low">
      <a color="primary" class="link" mat-button routerLink="/lesson">LESSONS</a>
      <a color="primary" class="link" mat-button routerLink="/quiz">QUIZZES</a>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">chat_bubble</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Settings Icon">settings</mat-icon>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>