.example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    color: white;
    padding: 0 12px;
    font-size: 36px;
  }

  .top-bar{
    height: 100px;
  }

  .image{
      padding-left: 30%;
  }

  .title{
      padding-right: 10%;
  }

  .link{
      padding-right: 50px;
  }

  .nav{
      padding-right: 10%;
      line-height: 64px;
  }

  .test{
    display: flex;
    align-items: center;
    height: 100%;
  }

  mat-icon{
    height: 36px;
  }



  