<div>
    <form [formGroup]="cohortmenu">
        <mat-form-field *ngIf="user.role_id == '1' || user.role_id == '2'">
            <mat-label>Cohort</mat-label>
            <mat-select formControlName="selectedcohort">
                <mat-option *ngFor="let c of cohortList" value="{{c.id}}">
                    {{c.cohort_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <form [formGroup]="quizmenu">
        <mat-form-field>
            <mat-label>Week</mat-label>
            <mat-select formControlName="selectedquiz">
                <mat-option *ngFor="let w of quizMenu" value="{{w._id}}">
                    Week {{w.quizWeek}} - {{w.quizName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>