<p>lesson-display works!</p>
<div>
    <form [formGroup]="cohortmenu">
        <mat-form-field *ngIf="user.role_id == '1' || user.role_id == '2'">
            <mat-label>Cohort</mat-label>
            <mat-select formControlName="selectedcohort">
                <mat-option *ngFor="let c of cohortList" value="{{c.id}}">
                    {{c.cohort_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <form [formGroup]="lessonmenu">
    <mat-form-field>
        <mat-label>Week</mat-label>
        <mat-select formControlName="selectedlesson">
            <mat-option *ngFor="let w of lessonMenu" value="{{w.id}}">
                Week {{w.week_number}} - Day {{w.day}} - {{w.lesson_title}}
            </mat-option>
        </mat-select>
    </mat-form-field></form>
</div>