<mat-list>
    <div mat-subheader>CHANGE ROLE</div>
    <mat-list-item *ngFor="let user of userlist">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <mat-label for="role">Role: </mat-label>
                <mat-select [(ngModel)]="user.role_id">
                    <mat-option value=1>Admin</mat-option>
                    <mat-option value=2>Instructor</mat-option>
                    <mat-option value=3>Student</mat-option>
                    <mat-option value=4>Unassigned</mat-option>
                </mat-select>
        <button mat-icon-button (click)='updateRole(user)'>
           <mat-icon>edit</mat-icon>
        </button>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
