<div *ngIf="viewedQuizTarget !== undefined">
    <h1>
        {{viewedQuizTarget.quizName}}   
        <button mat-icon-button color="primary" aria-label="Edit" (click)="edit()">
            <mat-icon>create</mat-icon>
          </button>
        </h1>
</div>
<ng-container *ngIf="viewedQuizTarget !== undefined">
<div *ngFor='let question of questions, index as i'>
<div>{{i}}:{{question.Q}}</div>
<br>
<mat-radio-group *ngIf='question.Choices != []'>
    <mat-radio-button value="{{question.Choices[0]}}">{{question.Choices[0]}}</mat-radio-button><br>
    <mat-radio-button value="{{question.Choices[1]}}">{{question.Choices[1]}}</mat-radio-button><br>
    <mat-radio-button value="{{question.Choices[2]}}">{{question.Choices[2]}}</mat-radio-button><br>
    <mat-radio-button value="{{question.Choices[3]}}">{{question.Choices[3]}}</mat-radio-button><br>
</mat-radio-group>
</div>
</ng-container>
<button mat-raised-button color="primary">Answers</button>